<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title><%= title %></title>

    <% for (var cssFile of cssFiles) { %>
    <link href="<%= cssFile %>" rel="stylesheet" />
    <% } %>
  </head>

  <body>
    <div id="workspace"></div>

    <% for (var jsFile of jsFiles) { %>
    <script src="<%= jsFile %>"></script>
    <% } %>

    <script>
      // window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
      $(document).ready(function () {
        var initOption = {
          type: 'workspace',
          textCodingEnable: true
        }
        Entry.init(document.getElementById('workspace'), initOption)
        Entry.loadProject()
      })
    </script>
  </body>
</html>
